/* Style  */
body {
    background: #daf3e2;
}
form{
    text-align: center;
    margin-top: 300px;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 5%;
    padding-left: 290px;
    padding-right: 100px;
    padding-bottom: 5%;
}
#btn_sub{
    margin: 3%;
}
#button2{
    margin: 3%;
}